@use "@styles/globalStyles.scss" as G;

.body {
  width: 385px;
  min-height: 300px;
  border-radius: 6px;
  padding: 32px 24px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include G.breakpoint("lg") {
    width: 300px;
  }

  @include G.breakpoint("sm") {
    width: 327px;
  }

  h2 {
    font-size: 18px;
    color: var(--red);
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 100%;
  }

  .order {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .note {
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--rose-50);
    border-radius: 8px;
    margin-bottom: 24px;
  }

  button {
    background-color: var(--red);
    padding: 20px;
    border-radius: 100px;
    border: 0;
    display: grid;
    place-items: center;
    outline: none;

    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
}
