$breakpoints: (
  "xm": 540px,
  "sm": 768px,
  "md": 900px,
  "lg": 1280px,
  "xl": 1440px,
);

@mixin breakpoint($name) {
  @media (max-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@mixin mainLayout {
  max-width: 1440px;
  margin: auto;
  padding: 80px 110px;

  @include breakpoint("lg") {
    padding: 60px 80px;
  }

  @include breakpoint("sm") {
    padding: 60px 24px;
  }
}
